# docker example
# spring.config.import: optional:configserver:http://config-server:8888
server:
  port: 8080

spring:
  application:
    name: api-gateway

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: trip-service
          uri: lb://trip-service
          predicates:
            - Path=/api/trips/**
          filters:
            - StripPrefix=1
            - name: CircuitBreaker
              args:
                name: tripServiceCB
                fallbackUri: forward:/fallback/trips
            - TokenRelay

        - id: passenger-service
          uri: lb://passenger-service
          predicates:
            - Path=/api/passengers/**
          filters:
            - StripPrefix=1
            - name: CircuitBreaker
              args:
                name: passengerServiceCB
                fallbackUri: forward:/fallback/passengers
            - TokenRelay

        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=1
            - name: CircuitBreaker
              args:
                name: paymentServiceCB
                fallbackUri: forward:/fallback/payments
            - TokenRelay

        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=1
            - TokenRelay

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/ecoride

# Configuración de Actuator
management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus

  endpoint:
    health:
      show-details: always

  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: http://localhost:9411/api/v2/spans


# Configuración de logs con trazabilidad
logging:
  pattern:
    level: "%5p [${spring.application.name}, %X{traceId:-}, %X{spanId:-}]"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/