spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/faritteranacosta/ECO-RIDE-LATAM
          default-label: main
          search-paths:
            - config-server

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


# Configuración de Actuator
management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus

  endpoint:
    health:
      show-details: always

  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: http://localhost:9411/api/v2/spans


# Configuración de logs con trazabilidad
logging:
  pattern:
    level: "%5p [${spring.application.name}, %X{traceId:-}, %X{spanId:-}]"
